body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #ffffff;
  background-color: rgb(68,193,251);
  border-color: rgb(68,193,251);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.333333333;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 0px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: transparent;
  border-color: rgb(133, 210, 245);
  border: 2px solid rgb(133, 210, 245);
  padding: 8.5px 15px;
}

.cover-heading {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
  line-height: 55px;
  color: #f2f4f7;

}
.core-color {
  color: rgb(68,193,251); 
}

img#logo {
  width:10%;
  vertical-align: bottom;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.vid-text {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: -59% auto 0 auto;
  position: relative;
}
#id_2 {
  margin-left: 401px;
  margin-top: -46.55px;
}


.input-lg {
  border-radius:0px !important;
  border:0px;
  line-height: .33;
  color: black;
}
video {
  opacity: .7;
}
@media (max-width: 580px) {
  
  #id_2 {
    margin-left: 307px;
    margin-top: -45.8px;
  }
}
@media (max-width: 400px) {
  img#logo {
    width:27%;
    vertical-align: bottom;
  }
  #id_2 {
    margin-left: 307px;
    margin-top: -45.8px;
  }
  .input-lg, .form-horizontal .form-group-lg .form-control {
    padding: 10px 0px;
    
  }
  .site-wrapper {
    background: url("https://s3.amazonaws.com/mst-images-shared/core/back-shot2.png") no-repeat;
    min-height: 640px;
    background-size: cover;
  }
  video {
    display: none;
  }
  .vid-text {
    margin:auto !important;
  }
  form {
    margin-top:100px;
  }
  #core_1 {
    margin-left:-18%;
  }
  .promo2 {
    right: 0 !important;
    text-align: center !important;
  }

}
@media (min-width: 767px) {
  #core_1 {
    margin-left:-9%;
  }
}
.btn-lg, .btn-group-lg > .btn {
  padding: 9.5px 16px;
}
.promo {
  font-style: italic;
  position: fixed;
  text-align: center;
  color: white;
  top: 0px;
  width: 100%;
  background: gray;
  opacity: .7;
  padding: 7px 0;
  z-index: 300;
}

.promo2 {
  color: lightgray;
  width: 100%;
  position: absolute;
  bottom: 20px;
  font-size: 17px;
  float: right;
  text-align: right;
  right: 100px;
  font-style: italic;
}





